<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/about/' | relative_url }}">About me</a></li>
    <li class="navbar__item"><a href="{{ 'infra/index.html'  | relative_url }}">Infra</a></li>
    <li class="navbar__item"><a href="{{ 'algo/index.html'   | relative_url }}">Algorithm</a></li>
    <li class="navbar__item"><a href="{{ 'java/index.html'   | relative_url }}">Java</a></li>
    <li class="navbar__item"><a href="{{ 'kotlin/index.html' | relative_url }}">Kotlin</a></li>
    <li class="navbar__item"><a href="{{ 'react/index.html'  | relative_url }}">React</a></li>
    <li class="navbar__item"><a href="{{ 'test/index.html'  | relative_url }}">Test</a></li>
    <!--<li class="navbar__item"><a href="https://github.com/kkninjae/book/archive/master.zip">Download</a></li> -->
  </ul>
</nav>
